// contacts

.contacts__wrapper {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .popup__title {

    }
    
}


.contacts__message {
    padding: 50px;
    padding-right: 70px;
    max-width: 815px;
    flex-grow: 1;
}

.contacts__form {

}

.contacts__details {
    padding: 50px;
    padding-bottom: 65px;
    background: #F7ECDA;
    flex-grow: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .popup__title {
        margin-bottom: 40px;
    }

    &-info {

    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-icon {
        width: 35px;
        margin-right: 20px;
        img {
            max-width: 100%;
        }
    }

    &-title {
        font-size: 24px;
        line-height: 33px;
        color: #222222;
        b {
            display: block;
        }
    }

    &-social {
        margin-top: 103px;
        display: flex;
        align-items: flex-end;
        a {
            margin-right: 38px;
            display: block;
            opacity: 1;
            transition: all 0.3s;
            &:hover {
                transition: all 0.3s;
                opacity: .7;
            }
            img {
                max-width: 100%;
            }
        }
    }



}